

#topControlPanel {
    -fx-max-height: 10px;
    -fx-padding: 5;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 0 0 1 0;
}

#leftPane {
    -fx-background-color: white;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 0 1 0 0;
    /*-fx-effect: dropshadow(three-pass-box, #0a0a0a, 0, 0, 1, 1);*/
}

.toolBtn {
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-color: transparent;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 0 0 1 0;
    -fx-background-radius: 0;
}

#moveTool {
    -fx-background-image: url("/res/tools/moveBlack.png");
}

#boxSelectTool {
    -fx-background-image: url("/res/tools/boxSelectBlack.png");
}

#pencilTool {
    -fx-background-image: url("/res/tools/pencilBlack.png");
}

#lineTool {
    -fx-background-image: url("/res/tools/lineBlack.png");
}

#rectTool {
    -fx-background-image: url("/res/tools/rectBlack.png");
}

#ovalTool {
    -fx-background-image: url("/res/tools/ovalBlack.png");
}

#centrePane {
}

.canvasScrollpane > .viewport{
    -fx-background-color: white;
}

.canvasContainer {
    -fx-border-color: #0a0a0a;
    -fx-border-width: 1px;
    -fx-background-image: url("/res/transparentBG.png");
    -fx-background-size: 16px;
    -fx-effect: dropshadow(three-pass-box, #0a0a0a, 0, 0, 2, 2);
}

.tab {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 1;
}

.tab:selected {
    -fx-background-color: white;
    -fx-border-width: 1 1 0 1;
}

.tab-close-button {
    -fx-background-color: #0a0a0a;
}

#rightPane {
    -fx-background-color: white;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 0 0 0 1px;
}

#colourPane {
    -fx-padding: 5 5;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0a0a0a;
}

#colourSelectionHBox {
}

.colourBoxSelected {
    -fx-background-radius: 0px;
    -fx-background-insets: 3;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 2px;
}

.colourBoxUnselected {
    -fx-background-radius: 0px;
    -fx-background-insets: 2;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 1px;
}

.colourBoxBtn {
    -fx-background-color: transparent;
}

#layersScrollpane {
    -fx-background-color: transparent;
    -fx-padding: -1 0 0 -1;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 0;
}

#layersScrollpane > .viewport {
    -fx-background-color: transparent;
}

#layersScrollpane > .scroll-bar:vertical > .decrement-button {
    -fx-background-insets: -1 0 0 0;
}

#layersVBox {
    -fx-spacing: -1;
}

.layerHbox {
    -fx-border-width: 1 0 1 1;
    -fx-border-color: #0a0a0a;
    -fx-padding: 0 5;
    /*-fx-spacing: 5;*/
    -fx-background-insets: 1 0 1 1;
}

.layerLblBtn {
    -fx-padding: 20 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: #0a0a0a;
    -fx-max-width: 74;
}

.layerHbox:active > .layerLblBtn {
    -fx-text-fill: white;
}


.layerHbox:active {
    -fx-background-color: #0a0a0a;
}

.slider .thumb {
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 1;
    -fx-padding: 6 2;
    -fx-effect: dropshadow(three-pass-box, #0a0a0a, 0, 0, 1, 1);
}

.slider .track {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 1;
    -fx-padding: 2 0;
}

.sliderTxt {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 1 0 1 1;
    -fx-max-width: 50;
}

.upBtn {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 1;
    -fx-background-image: url("/res/upArrow.png");
    -fx-background-position: center;

    -fx-min-height: 14;
    -fx-max-height: 14;
    -fx-min-width: 20;
    -fx-max-width: 20;
}

.upBtn:pressed {
    -fx-background-color: #0a0a0a;
    -fx-background-image: url("/res/upArrowWhite.png");
}

.dwnBtn {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 0 1 1 1;
    -fx-background-image: url("/res/dwnArrow.png");
    -fx-background-position: center;

    -fx-min-height: 14;
    -fx-max-height: 14;
    -fx-min-width: 20;
    -fx-max-width: 20;
}

.dwnBtn:pressed {
    -fx-background-color: #0a0a0a;
    -fx-background-image: url("/res/dwnArrowWhite.png");
}

.layerMoveBtnsPane {
    -fx-background-color: red;
    -fx-max-height: 40;
}

.layerMoveBtnsPane > .upBtn, .layerMoveBtnsPane > .dwnBtn {

    -fx-max-height: 20;
    -fx-max-width: 22;
    -fx-background-insets: 0 0 1 0;
}

.hideLayerBtn {

    -fx-max-width: 18px;
    -fx-max-height: 16px;
    -fx-min-width: 18px;
    -fx-min-height: 16px;

    -fx-background-radius: 0;
    -fx-background-color: transparent;
    
    -fx-background-image: url("/res/eyeShownBlack.png");

}

.hideLayerBtn:hidden {
    -fx-background-image: url("/res/eyeHiddenBlack.png");
}

.layerDelNewHbox {
}

#newLayerBtn {
    -fx-background-color: white;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-pref-width: 1000px;
    -fx-border-insets: -1 0 -1 -1;
}

#newLayerBtn:pressed {
    -fx-background-color: #0a0a0a;
    -fx-text-fill: white;
}

#delLayerBtn {
    -fx-background-color: white;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-pref-width: 1000px;
    -fx-border-insets: -1 0 -1 -1;
}

#delLayerBtn:pressed {
    -fx-background-color: #0a0a0a;
    -fx-text-fill: white;
}


.topBarSeparator .line {
    -fx-border-color: transparent transparent transparent #0a0a0a;
    -fx-border-insets: 0;
    -fx-border-width: 1;
}