.label {
    -fx-text-alignment: justify;
    -fx-padding: 0 10;
}

.button {
    -fx-background-color: white;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 1 0;
    -fx-pref-width: 150;
}

.button:pressed {
    -fx-background-color: #0a0a0a;
    -fx-text-fill: white;
}