.root {
    -fx-background-color: white;
    -fx-border-color: #0a0a0a;
    -fx-font-family: ChicagoFLF;
}

#titleBar {
    -fx-pref-height: 18px;
    -fx-padding: 3 0 0 0;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 0 0 1 0;
    -fx-background-image: url("/res/titleBar.png");
}

.titleBarEdgePadLeft .line {
    -fx-border-color: white;
    -fx-border-width: 0 0 0 1;
    -fx-padding: 0 0 0 7;
}

.titleBarBtnPad .line {
    -fx-border-color: white;
    -fx-border-width: 0 0 0 3;
}

.titleBarEdgePadRight .line {
    -fx-border-color: white;
    -fx-border-width: 0 0 0 1;
    -fx-padding: 0 0 0 0;
}

.windowBtn {
    -fx-min-width: 11px;
    -fx-pref-width: 11px;
    -fx-min-height: 11px;
    -fx-pref-height: 11px;
    -fx-background-color: white;
    -fx-border-color: #0a0a0a;
    -fx-background-insets: -2 -1;

}

.titleBarLblCont {
    -fx-padding: -2 60 0 0;
    /*-fx-background-color: red;*/
}

.titleBarLbl {
    -fx-background-color: white;
    -fx-font-family: ChicagoFLF;
    -fx-padding: 0 7;

}

#menuBar {
    -fx-background-color: white;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 0 0 1 0;
}

.menu-bar > .container > .menu-button {
    -fx-padding: 1 5;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background: #0a0a0a;
    -fx-background-color: #0a0a0a;
}

.menu-item {
    -fx-padding: 2 0 2 10;
    -fx-background-color: white;
}

.menu-item:hover,
.menu-item:focused
{
    -fx-background-color: #0a0a0a;
}

.context-menu {
    -fx-padding: 0;
    -fx-min-width: 100;
    -fx-border-color: #0a0a0a;
    -fx-effect: dropshadow(three-pass-box, #0a0a0a, 0, 0, 1, 1);
}

.text-field {
    -fx-highlight-fill: #0a0a0a;
}


.scroll-pane > .corner {
    -fx-background-color: white;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 1;
    -fx-border-insets: 0 -1 -1 0;
}

.scroll-bar {
    -fx-background-color: white;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 1;
}

.scroll-bar:vertical {
    -fx-border-insets: -1 -1 -1 0;
}

.scroll-bar:horizontal {
    -fx-border-insets: 0 -1 -1 -1;
}

.scroll-bar > .thumb {
    -fx-background-color: white;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: #0a0a0a;
}

.scroll-bar:vertical > .thumb {
    -fx-border-insets: 0 -1;
}

.scroll-bar:horizontal > .thumb {
    -fx-border-insets: -1 0;
}

.scroll-bar > .track {
    -fx-background-image: url("/res/scrollBarPattern.png");
}

.scroll-bar:horizontal > .track {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #0a0a0a;
}

.scroll-bar:vertical > .track {
    -fx-border-width: 1 0 1 0;
    -fx-border-color: #0a0a0a;
}


.scroll-bar:horizontal > .decrement-button,
.scroll-bar:horizontal > .increment-button,
.scroll-bar:vertical > .decrement-button,
.scroll-bar:vertical > .increment-button {
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-background-color: white;
}

.scroll-bar:horizontal > .decrement-button:hover,
.scroll-bar:horizontal > .increment-button:hover,
.scroll-bar:vertical > .decrement-button:hover,
.scroll-bar:vertical > .increment-button:hover {
    -fx-background-color: white;
}

.scroll-bar:horizontal > .decrement-button:pressed,
.scroll-bar:horizontal > .increment-button:pressed,
.scroll-bar:vertical > .decrement-button:pressed,
.scroll-bar:vertical > .increment-button:pressed {
    -fx-background-color: #0a0a0a;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #0a0a0a;
    -fx-effect: none;
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: white;
    -fx-effect: none;
}

.check-box > .box {
    -fx-background-radius: 0;
    -fx-padding: 1;
    -fx-background-color: white;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 1;
}

.check-box > .box > .mark {
    -fx-shape: "M 27.1,2.1 25,0 13.6,11.4 2.1,0 0,2.1 11.4,13.6 0,25 2.1,27.1 13.6,15.7 25,27.1 27.1,25 15.7,13.6";
}

.check-box:selected > .box > .mark {
    -fx-background-color: #0a0a0a;
    -fx-background-insets: 0;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-color: #0a0a0a;
    -fx-border-width: 1;
    -fx-border-insets: -1 0 5 0;
    -fx-padding: 5;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:pressed {
    -fx-background-color: #0a0a0a;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button > .arrow {
    -fx-background-color: #0a0a0a;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:pressed > .arrow {
    -fx-background-color: white;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}
